html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  padding-bottom: 50px;
}

body,
button,
a {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  margin: 0;
  color: black;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.highlight {
  background: linear-gradient(120deg, #FAC835 0%, #FAC835 100%);
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: 0 100%;
}

main {
  padding: 0 50px;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.button {
  display: grid;
  place-content: center;
  border-radius: 10px;
  min-width: 85px;
  padding: 6px 15px 9px 15px;
  font-weight: semi-bold;
  font-size: 18px;
  transition: background-color 0.2s, transform 0.2s;
}
.button:active {
  transform: translate(1px, 1px);
}
.button--primary {
  background-color: #FEBE0C;
}
.button--primary:hover {
  background-color: #f8b600;
}
.button--secondary {
  background-color: #514f5a;
  color: white;
}
.button--secondary:hover {
  background-color: #2E2A3D;
  color: white;
}
.button--danger {
  background-color: #f87676;
  color: white;
}
.button--danger:hover {
  background-color: #f65151;
}
.button--shadow {
  box-shadow: 5px 5px 15px #CED6DF;
}
.button--shadow:hover {
  box-shadow: 5px 5px 8px #CED6DF;
}
.button--shadow:active {
  box-shadow: 3px 3px 5px #CED6DF;
  transition: box-shadow 0.2s;
}
.button--margin {
  margin: 7px;
}
.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.icon {
  display: flex;
  align-items: center;
}
.icon-edit {
  margin-right: 20px;
  padding: 7px;
  display: grid;
  place-content: center;
}
.icon-edit:hover, .icon-edit:active {
  background-color: #EFF1F3;
  border-radius: 50%;
}
.icon-remove {
  padding: 7px;
  display: grid;
  place-content: center;
}
.icon-remove:hover, .icon-remove:active {
  background-color: #FFD8D8;
  border-radius: 50%;
}
.icon-new {
  color: #FEBE0C;
}
.icon-new:hover, .icon-new:active {
  color: #f8b600;
}
.icon-duplicate {
  margin-right: 10px;
  display: grid;
  place-content: center;
  padding: 10px 10px;
  background-color: #EFF1F3;
  border-radius: 50%;
}
.icon-duplicate:hover, .icon-duplicate:active {
  background-color: #FEBE0C;
}

.table__new {
  margin-top: 15px;
  padding-left: 0;
}
.table__new--text {
  display: inline;
  padding: 5px 10px 5px 10px;
}
.table__new--text:hover {
  cursor: pointer;
  background-color: #EFF1F3;
  border-radius: 10px;
}

.tag {
  margin: 0 3px;
  padding: 2px 6px;
  border-radius: 10px;
  background-color: #FAC835;
  font-size: 12px;
}
.tag__popup-container {
  display: flex;
  padding: 5px 10px 5px 0;
}
.tag__gallery {
  display: flex;
  padding: 0 10px 5px 7px;
}
.tag__header {
  display: flex;
  padding-top: 10px;
}
.tag__table, .tag__popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.tag__table .tag-box, .tag__popup .tag-box {
  padding-top: 7px;
}
.tag--flex {
  display: flex;
  justify-content: center;
}
.tag__button-close {
  display: grid;
  place-content: center;
  margin-left: 1px;
  border-radius: 50%;
}
.tag__button-close:hover {
  color: white;
}

.navbar--light {
  background-color: #FFFFFF;
  justify-content: flex-end;
}
.navbar--light .navbar__link--dark {
  color: black;
  padding: 0 10px;
}

.navbar--dark {
  background-color: #2E2A3D;
  justify-content: space-between;
}
.navbar--dark .navbar__link--light {
  color: white;
}

.navbar {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__logo .navbar__link {
  font-size: 18px;
}
.navbar .logo {
  width: 30px;
  height: auto;
  margin: 0 10px 0 15px;
}
.navbar__link-box {
  padding: 5px 8px;
}
@media screen and (min-width: 768px) {
  .navbar__link-box {
    padding: 5px 20px;
  }
}
.navbar__link-box--border-left {
  border-left: 1px solid #CED6DF;
}
.navbar__link-box--border-right {
  border-right: 1px solid #CED6DF;
}
@media screen and (max-width: 550px) {
  .navbar__link-box--hide {
    display: none;
  }
}
.navbar__link-box--text {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar__link-box--text {
    display: block;
  }
}
.navbar__link-box--icon {
  padding: 0 15px 0 8px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .navbar__link-box--icon {
    display: none;
  }
}
.navbar__link-box--admin {
  display: none;
}
.navbar__link {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .navbar__link {
    font-size: 16px;
  }
}
.navbar .highlight {
  background-size: 0%;
}
.navbar__link--highlight:hover .highlight {
  background-size: 100% 40%;
}
.navbar__link--underline {
  padding: 0 5px 11px;
}
.navbar__link--underline:hover {
  border-bottom: 3.3px solid #FEBE0C;
}
.navbar__link--icon:hover {
  color: #FEBE0C;
}

.path {
  padding: 20px 0;
  display: flex;
}
.path__link, .path__slash {
  color: #A2A6AA;
  font-size: 14px;
  padding: 0 5px;
}
.path__link--active {
  font-weight: bold;
}
.path__link:hover {
  text-decoration: underline;
  color: #A2A6AA;
}

.header {
  padding: 25px 0 40px 0;
  text-align: left;
}
.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 23px;
}
.header__top {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__top {
    display: flex;
  }
}
.header__title {
  font-weight: normal;
}
.header__tools {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  padding-right: 23px;
}
@media screen and (min-width: 768px) {
  .header__tools {
    margin-top: 0px;
  }
}
.header__project-icons {
  display: flex;
}
.header__project-icons .icon-edit--header {
  margin: 0 3px 0 0;
}
@media screen and (min-width: 768px) {
  .header__project-icons .icon-edit--header {
    margin-left: 10px;
  }
}
.header__object-icons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header__price {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 14px;
  background-color: #b9b6c2;
  border-radius: 10px;
  color: white;
}

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "icons--left content icons--right";
}
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 60px;
  }
}
.hero__icons--left, .hero__icons--right {
  display: none;
  padding-left: 10px;
}
.hero__icons--left .icon--absolute, .hero__icons--right .icon--absolute {
  position: absolute;
  color: #CED6DF;
}
@media screen and (min-width: 768px) {
  .hero__icons--left, .hero__icons--right {
    display: block;
    position: relative;
  }
}
.hero__icons--left {
  grid-area: icons--left;
}
@media screen and (min-width: 1024px) {
  .hero__icons--left {
    margin-left: 40px;
  }
}
@-webkit-keyframes percent-left {
  from {
    top: 80%;
    right: 120%;
  }
  to {
    top: 75%;
    right: -5%;
  }
}
@keyframes percent-left {
  from {
    top: 80%;
    right: 120%;
  }
  to {
    top: 75%;
    right: -5%;
  }
}
.hero__icons--left .icon-percent {
  -webkit-animation: percent-left 3s;
          animation: percent-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes calculator-left {
  from {
    top: 90%;
    right: 120%;
  }
  to {
    top: 87%;
    right: 30%;
  }
}
@keyframes calculator-left {
  from {
    top: 90%;
    right: 120%;
  }
  to {
    top: 87%;
    right: 30%;
  }
}
.hero__icons--left .icon-calculator {
  transform: rotate(-15deg);
  -webkit-animation: calculator-left 3s;
          animation: calculator-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes folder-left {
  from {
    top: 5%;
    right: 120%;
  }
  to {
    top: 15%;
    right: 65%;
  }
}
@keyframes folder-left {
  from {
    top: 5%;
    right: 120%;
  }
  to {
    top: 15%;
    right: 65%;
  }
}
.hero__icons--left .icon-folder {
  transform: rotate(-15deg);
  -webkit-animation: folder-left 3s;
          animation: folder-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes table-left {
  from {
    top: 55%;
    right: 120%;
  }
  to {
    top: 75%;
    right: 75%;
  }
}
@keyframes table-left {
  from {
    top: 55%;
    right: 120%;
  }
  to {
    top: 75%;
    right: 75%;
  }
}
.hero__icons--left .icon-table {
  transform: rotate(5deg);
  -webkit-animation: table-left 3s;
          animation: table-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes pencil-left {
  from {
    top: 30%;
    right: 120%;
  }
  to {
    top: 55%;
    right: 55%;
  }
}
@keyframes pencil-left {
  from {
    top: 30%;
    right: 120%;
  }
  to {
    top: 55%;
    right: 55%;
  }
}
.hero__icons--left .icon-pencil {
  transform: rotate(180deg);
  -webkit-animation: pencil-left 3s;
          animation: pencil-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes tag-left {
  from {
    top: 10%;
    right: 120%;
  }
  to {
    top: 30%;
    right: 35%;
  }
}
@keyframes tag-left {
  from {
    top: 10%;
    right: 120%;
  }
  to {
    top: 30%;
    right: 35%;
  }
}
.hero__icons--left .icon-tag {
  transform: rotate(30deg);
  -webkit-animation: tag-left 3s;
          animation: tag-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes ruler-left {
  from {
    top: -5%;
    right: 120%;
  }
  to {
    top: 20%;
    right: -5%;
  }
}
@keyframes ruler-left {
  from {
    top: -5%;
    right: 120%;
  }
  to {
    top: 20%;
    right: -5%;
  }
}
.hero__icons--left .icon-ruler {
  -webkit-animation: ruler-left 3s;
          animation: ruler-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes card-left {
  from {
    top: 30%;
    right: 120%;
  }
  to {
    top: 50%;
    right: 15%;
  }
}
@keyframes card-left {
  from {
    top: 30%;
    right: 120%;
  }
  to {
    top: 50%;
    right: 15%;
  }
}
.hero__icons--left .icon-card {
  -webkit-animation: card-left 3s;
          animation: card-left 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: rotate(15deg);
}
.hero__icons--right {
  grid-area: icons--right;
}
@-webkit-keyframes percent-right {
  from {
    top: -10%;
    left: 120%;
  }
  to {
    top: 10%;
    left: 15%;
  }
}
@keyframes percent-right {
  from {
    top: -10%;
    left: 120%;
  }
  to {
    top: 10%;
    left: 15%;
  }
}
.hero__icons--right .icon-percent {
  -webkit-animation: percent-right 3s;
          animation: percent-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes pencil-right {
  from {
    top: 5%;
    left: 120%;
  }
  to {
    top: 25%;
    left: -10%;
  }
}
@keyframes pencil-right {
  from {
    top: 5%;
    left: 120%;
  }
  to {
    top: 25%;
    left: -10%;
  }
}
.hero__icons--right .icon-pencil {
  transform: rotate(-90deg);
  -webkit-animation: pencil-right 3s;
          animation: pencil-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes tag-right {
  from {
    top: 10%;
    left: 120%;
  }
  to {
    top: 35%;
    left: 40%;
  }
}
@keyframes tag-right {
  from {
    top: 10%;
    left: 120%;
  }
  to {
    top: 35%;
    left: 40%;
  }
}
.hero__icons--right .icon-tag {
  transform: rotate(30deg);
  -webkit-animation: tag-right 3s;
          animation: tag-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes table-right {
  from {
    top: 30%;
    left: 120%;
  }
  to {
    top: 50%;
    left: 20%;
  }
}
@keyframes table-right {
  from {
    top: 30%;
    left: 120%;
  }
  to {
    top: 50%;
    left: 20%;
  }
}
.hero__icons--right .icon-table {
  transform: rotate(13deg);
  -webkit-animation: table-right 3s;
          animation: table-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes calculator-right {
  from {
    top: 10%;
    left: 120%;
  }
  to {
    top: 25%;
    left: 65%;
  }
}
@keyframes calculator-right {
  from {
    top: 10%;
    left: 120%;
  }
  to {
    top: 25%;
    left: 65%;
  }
}
.hero__icons--right .icon-calculator {
  transform: rotate(15deg);
  -webkit-animation: calculator-right 3s;
          animation: calculator-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes ruler-right {
  from {
    top: 80%;
    left: 120%;
  }
  to {
    top: 70%;
    left: -5%;
  }
}
@keyframes ruler-right {
  from {
    top: 80%;
    left: 120%;
  }
  to {
    top: 70%;
    left: -5%;
  }
}
.hero__icons--right .icon-ruler {
  -webkit-animation: ruler-right 3s;
          animation: ruler-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes folder-right {
  from {
    top: 90%;
    left: 120%;
  }
  to {
    top: 85%;
    left: 40%;
  }
}
@keyframes folder-right {
  from {
    top: 90%;
    left: 120%;
  }
  to {
    top: 85%;
    left: 40%;
  }
}
.hero__icons--right .icon-folder {
  -webkit-animation: folder-right 3s;
          animation: folder-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes card-right {
  from {
    top: 65%;
    left: 120%;
  }
  to {
    top: 60%;
    left: 70%;
  }
}
@keyframes card-right {
  from {
    top: 65%;
    left: 120%;
  }
  to {
    top: 60%;
    left: 70%;
  }
}
.hero__icons--right .icon-card {
  -webkit-animation: card-right 3s;
          animation: card-right 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: rotate(15deg);
}
.hero__content {
  grid-area: content;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__content-logo {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 80px;
  height: auto;
}
@media screen and (min-width: 1920px) {
  .hero__content-logo {
    width: 130px;
    padding-bottom: 50px;
  }
}
.hero__content-title {
  font-size: 60px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1920px) {
  .hero__content-title {
    font-size: 90px;
    padding-bottom: 40px;
  }
}
.hero__content-subtitle {
  padding-bottom: 70px;
}
@media screen and (min-width: 1920px) {
  .hero__content-subtitle {
    font-size: 36px;
    padding-bottom: 100px;
  }
}
.hero__content-button {
  width: 120px;
  height: 50px;
  font-weight: semi-bold;
  font-size: 24px;
}
@media screen and (min-width: 1920px) {
  .hero__content-button {
    width: 150px;
    height: 70px;
    font-size: 36px;
  }
}

.welcome {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.welcome__title {
  padding: 80px 0 40px 0;
  font-size: 40px;
}
.welcome__subtitle {
  padding-bottom: 15px;
  font-size: 20px;
}
.welcome__field {
  border: 1px solid #CED6DF;
  padding: 5px;
  width: 200px;
  height: 50px;
  display: grid;
  place-content: center;
}
.welcome__number {
  font-size: 24px;
}
.welcome__tip {
  color: #A2A6AA;
  padding: 5px 0 80px;
  font-size: 14px;
}
.welcome__button {
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.welcome__input {
  font-size: 18px;
  margin-bottom: 60px;
}

.gallery {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: auto;
  gap: 20px;
}
.gallery__card {
  width: 100%;
  height: 228px;
  border: 1px solid #CED6DF;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 4px #ebf0f6c5;
}
.gallery__card:hover {
  background-color: #f8f9fae1;
}
.gallery__card--new {
  display: grid;
  place-content: center;
}
.gallery__image {
  height: 150px;
  overflow: hidden;
}
.gallery__user-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 0;
}
.gallery__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery__title--center {
  color: #A2A6AA;
}
.gallery__title {
  border-top: 1px solid #CED6DF;
  height: 30px;
  padding: 15px 10px 18px 10px;
}
.gallery__title--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.gallery__title--price {
  padding: 3px;
}

.toolbar {
  display: flex;
}

.align-left {
  text-align: left;
}

table {
  width: 100%;
  padding-bottom: 50px;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid #CED6DF;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.table__icons {
  display: flex;
  align-items: center;
}
.table__icons--edit {
  margin-right: 15px;
  padding: 7px;
  display: grid;
  place-content: center;
}
.table__icons--edit:hover {
  background-color: #EFF1F3;
  border-radius: 50%;
}
.table__icons--remove {
  padding: 7px;
  display: grid;
  place-content: center;
}
.table__icons--remove:hover {
  background-color: #FFD8D8;
  border-radius: 50%;
}
.table-object, .table-material, .table-extra {
  padding-bottom: 20px;
}
.table-object__data:hover, .table-material__data:hover, .table-extra__data:hover {
  background-color: #f8f9fae1;
}
.table-object__extra, .table-object__item, .table-material__extra, .table-material__item, .table-extra__extra, .table-extra__item {
  text-align: left;
}
.table-object__item, .table-material__item, .table-extra__item {
  font-weight: bold;
}
.table-object__tags, .table-material__tags, .table-extra__tags {
  max-width: 200px;
  text-align: left;
}
.table__new {
  color: #A2A6AA;
}

.danger__container {
  max-width: 500px;
  margin-top: 60px;
  padding: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .danger__container {
    padding-top: 80px;
  }
}
.danger__message {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */