$color-primary: #FEBE0C;
$color-primary--hover: #f8b600;
$color-primary--highlight: #FAC835;
$color-secondary: #b9b6c2;
$color-text-secondary: #A2A6AA;
$color-navbar--light: #FFFFFF;
$color-navbar--dark: #2E2A3D;
$color-objects: #CED6DF;
$color-objects--shade: #ebf0f6c5;
$color-objects--hover: #f8f9fae1;
$color-icon--neutral: #EFF1F3;
$color-icon--danger: #FFD8D8;
$color-button--dark: #514f5a;
$color-button--danger: #f87676;
$color-button--danger-hover: #f65151;
