<div class="modal fade" id="DuplicateObject" tabindex="-1" role="dialog" aria-labelledby="Duplicate project" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModatLabel">Duplikovat objekt</h5>

      </div>
      <form class="duplicate_object" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" id="object_search" type="text" name="" value="" placeholder="hledat..."></input>
          </div>
          <div class="form-group">

            <label for="ObjectSelect">Vyberte objekt, který chcete duplikovat.</label>
            <select class="form-control" id="ObjectSelect" name="select_object">

            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            <input type="submit" name="duplicate_sub" class="btn btn-primary" value="Duplikovat">

          </div>
        </form>
      </div>
    </div>
  </div>
