{% extends "calculaber_app/main-layout.html" %}
{% block body_block %}
{% include "calculaber_app/navbar.html" %}
<main>
  <div class="path">
    <a href="{% url 'calculaber_app:index' %}" class="path__link">Projekty</a>
    <p class="path__slash"> / </p>
    <a href="{% url 'project_detail'  pk=project.id %}" class="path__link">{{ project.name }}</a>
    <p class="path__slash"> / </p>
    <a href="{% url 'extra_expense_detail'  pk=project.id %}" class="path__link path__link--active">Extra náklady</a>
  </div>
  <header class="header">

    <div class="header__top header--flex">
      <h1 class="header__title">Extra náklady</h1>


      <button class="header__icon-new" title="dil" type="button" data-toggle="modal" data-target="#NewExtraExpense">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-new" width="40" height="40" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </button>

    </div>

    <div class="header__bottom">
        <p class="header__price">Celková cena <strong><span class="total_price"></span></strong> CZK</p>
    </div>

  </header>
  {% csrf_token %}
  <table class="table-object" id="extra_expense_detail_tbl">
    <thead>
      <tr class="table-object__head">
        <th class="table-extra__item">Název</th>
        <th class="table-extra__description">Popis</th>
        <th class="table-extra__price">Cena</th>
      </tr>
    </thead>
    <tbody>

    </tbody>

  </table>
  <button class="table__new" title="dil" data-toggle="modal" data-target="#NewExtraExpense">
    <p class="table__new--text">+ Nový výdaj</p>
  </button>
  {% include "calculaber_app/new_extra_expense_modal.html" %}
  {% include "calculaber_app/update_extra_expense_modal.html" %}
</main>
{% endblock %}
{% block jquery %}
{% load static %}
<script type="text/javascript">
  function FormatNumber(number_text) {
    var value = (Number(number_text)).toLocaleString(
      undefined,
      { minimumFractionDigits: 2 }
    );
    return value;
  };
</script>
<script type="text/javascript">
  var extra_expense = {{ extra_expense_json|safe }};
  var project_id={{ project.id }};
  var edit_button_content="<div class='icon-edit'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/></svg></div>";
  var remove_button_content="<div class='icon-remove'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/><path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/></svg></div>";
  function GenerateNewRow(id,name,description,price){
    html_txt="<tr class='table-object__data' id=" + id + ">"
    html_txt+="<td class='table-extra__item name'>" + name + "</td>";
    html_txt+="<td class='table-extra__description description'>" + description + "</td>";
    html_txt+="<td class='table-extra__price price'>" + FormatNumber(price) + " Kč</td>";
    html_txt+="<td class='icon'>";
    html_txt+="<button type='button' class='update' data-toggle='modal' data-target='#UpdateExtraExpense'>"+ edit_button_content +"</button>";
    html_txt+="<form class='delete_extra_expense' method='POST'><button name='delete_extra_expense_sub' type='submit' onclick=\"return confirm('Opravdu chcete výdaj smazat?')\" value='Smazat'>" + remove_button_content + "</button></form>";
    html_txt+="</td>";
    html_txt+="</tr>";
    return html_txt;
  };
  document.addEventListener("DOMContentLoaded", function() {
      var table = document.getElementById("extra_expense_detail_tbl").getElementsByTagName("tbody")[0];
      var tr="";
      console.log('here');
      extra_expense.forEach(x=>{
         tr+=GenerateNewRow(x.id,x.name,x.description,x.price);
      })
      table.innerHTML+=tr;
      if(extra_expense.length>0){
        $("span.total_price").text(FormatNumber(extra_expense.map(item => item.price).reduce((prev, next) => Number(prev) + Number(next))) + " Kč")
      }else{
        $("span.total_price").text(FormatNumber(0) + " Kč")
      }
  });
</script>
<script type="text/javascript" src="{% static 'js/extra_expense.js' %}" charset="utf-8"></script>
{% endblock %}
