{% extends "calculaber_app/main-layout.html" %}
{% block body_block %}

<div class="navbar  navbar--light">

    <div class="navbar__link-box">

        <a href="{% url 'users_app:user_login' %}" class="navbar__link navbar__link--dark navbar__link--highlight"><span class="highlight">Přihlášení</span></a>

    </div>

    <div class="navbar__link-box navbar__link-box--border-left navbar__link-box--hide">

        <a href="{% url 'users_app:generate_account' %}" class="navbar__link navbar__link--dark navbar__link--highlight"><span class="highlight">Registrace</span></a>

    </div>

</div>



<div class="hero">


    <img src="/media/logo/calculaber-logo.svg" class="hero__logo" alt="logo">


    <h1 class="hero__title">calculaber</h1>


    <a href="{% url 'users_app:generate_account' %}" class="hero__button button button--primary button--shadow">ZAČIT</a>


</div>



<div class="value-prop">

    <h2 class="value-prop__title"><span class="highlight">Lorem Ipsum</span></h2>

    <p class="value-prop__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <img src="#" class="value-prop__screenshot" alt="screenshot">

</div>







{% endblock %}
