{% extends "calculaber_app/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <h2>Materiály</h2>
</div>
{% csrf_token %}
<table class="table" id="mydatatable">
  <thead>
    <tr>
      <th scope="col">Název</th>
      <th scope="col">Margin</th>
      <th scope="col">Cena</th>
      <th scope="col">Jednotky</th>
      <th scope="col">Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<button type="button" id="new_material" class="btn btn-primary" data-toggle="modal" data-target="#NewMaterial">
  Nový materiál
</button>
{% csrf_token %}
{% include "calculaber_app/new_material_modal.html" %}
{% include "calculaber_app/update_material_modal.html" %}

{% endblock %}
{% block jquery %}
{% load static %}
{{ material_list_test|json_script:"json_data" }}
<script type="text/javascript">
  function FormatNumber(number_text) {
    var value = (Number(number_text)).toLocaleString(
      undefined,
      { minimumFractionDigits: 2 }
    );
    return value;
  };
</script>
<script type="text/javascript">
  var material = {{ material_list|safe }};
  var choice_array = {{ units_list|safe }};
  var tag_array = {{ tag_list|safe }};
  var new_tag_array=[];
  document.addEventListener("DOMContentLoaded", function() {
      var table = document.getElementById("mydatatable").getElementsByTagName("tbody")[0];
      var tr="";
      console.log('here');
      material.forEach(x=>{
         tr+="<tr id='" + x.id + "'>";
         tr+="<td class='name'>"+x.name+'</td>'+"<td class='margin'>"+FormatNumber(x.margin)+' %</td>'+"<td class='price'>"+FormatNumber(x.price)+' Kč</td>'+"<td class='units'>"+choice_array[x.units]+'</td>';
         tr+="<td class='tag'>";
           tag_array.filter(item => item.material_id === x.id).forEach(i=>{
             tr+="<span class='badge rounded-pill bg-warning text-dark'>" + i.tag + "</span>"
           });
         tr+="</td>";
         tr+="<td>";
         tr+="<button type='button' class='btn btn-primary update' data-toggle='modal' data-target='#UpdateMaterial'>Upravit</button>";
         tr+="<form class='delete_material' method='POST'><input class='btn btn-danger' name='delete_material_sub' type='submit' onclick=\"return confirm('Opravdu chcete materiál smazat?')\" value='Smazat'></form>";
         tr+="</td>";
         tr+='</tr>';
      })
      table.innerHTML+=tr;
  });
</script>
<script type="text/javascript" src="{% static 'js/material_list.js' %}" charset="utf-8"></script>
{% endblock %}
