<div class="modal fade" id="NewMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nový materiál</h5>

      </div>
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label" for="{{ form.name.id_for_label }}">Název</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            <label class="form-label" for="{{ form.price.id_for_label }}">Cena</label>
            {{ form.price }}
          </div>
          <div class="form-group">
            <label class="form-label" for="{{ form.margin.id_for_label }}">Margin</label>
            {{ form.margin }}
          </div>
          <div class="form-group">
            <label class="form-label" for="{{ form.units.id_for_label }}">Jednotky</label>
            {{ form.units }}
          </div>
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
          <input type="submit" name="new_material_sub" class="btn btn-primary" value="Přidat">

        </div>
      </form>
    </div>
  </div>
</div>
