<div class="modal fade" id="NewExtraExpense" tabindex="-1" role="dialog" aria-labelledby="Nový výdaj" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nový výdaj</h5>

      </div>
      <form class="new_extra_expense" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="new_expense_name" class="form-label">Název výdaje</label>
            {{ create_form.name }}
          </div>
          <div class="form-group">
            <label for="new_expense_description" class="form-label">Popis</label>
            {{ create_form.description }}
          </div>
          <label class="form-label" for="new_expense_price">Cena</label>
          <div class="form-group input-group">
            {{ create_form.price }}
            <div class="input-group-append">
              <span class="input-group-text" id="price_format">CZK</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="button button--secondary" data-dismiss="modal">Zavřít</button>
          <button type="submit" name="new_extra_expense_sub" class="button button--primary" value="Přidat výdaj">Přidat</button>

        </div>
      </form>
    </div>
  </div>
</div>
