<div class="modal fade" id="NewMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nový materiál</h5>

      </div>
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-body">
          <p>Název {{ form.name }}</p>
          <p>Margin {{ form.margin }}</p>
          <p>Cena {{ form.price }}</p>
          <p>Jednotky {{ form.units }}</p>
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
          <input type="submit" class="btn btn-primary" value="Přidat">

        </div>
      </form>
    </div>
  </div>
</div>
