<div class="modal fade" id="NewMaterialObject" tabindex="-1" role="dialog" aria-labelledby="Nový díl" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nový díl</h5>

      </div>
      <form class="new_material_object" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="id_name" class="form-label">Název dílu</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            <input class="form-control" id="material_search" type="text" name="" value="" placeholder="hledat materiál..."></input>
          </div>
          <div class="form-group">
            <label for="material_select">Vyberte materiál, který chcete použít.</label>
            <select class="form-control" id="material_select">

            </select>
          </div>
          <div class="form-group">
            <label for="id_amount" class="form-label">Množství/Velikost</label>
            {{ form.amount }}
          </div>
        </div>



        <div class="modal-footer">
          <button type="button" class="button button--secondary" data-dismiss="modal">Zavřít</button>
          <button type="submit" name="new_material_object_sub" class="button button--primary">Přidat</button>

        </div>
      </form>
    </div>
  </div>
</div>
