<div class="modal fade" id="NewObject" tabindex="-1" role="dialog" aria-labelledby="Nový objekt" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nový objekt</h5>

      </div>
      <form class="new_object" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label" for="{{ form.name.id_for_label }}">Název</label>
            {{ form.name }}
          </div>
          <div class="form-group">
            {{ form_tag.tag }}
          </div>
          <div class="tag-container">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
          <input type="submit" name="new_object_sub" class="btn btn-primary" value="Přidat objekt">

        </div>
      </form>
    </div>
  </div>
</div>
