<div class="modal fade" id="NewProject" tabindex="-1" role="dialog" aria-labelledby="Nový projekt" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nový projekt</h5>

      </div>
      <form class="new-project" method="post" enctype="multipart/form-data">
        <div class="modal-body">

          <div class="form-group">
            <label class="form-label" for="{{ form.name.id_for_label }}">Název</label>
            {{ form.name }}
          </div>

          <div class="custom-file mb-3">
            {{ form.project_pic }}
            <label class="custom-file-label" for="{{ form.project_pic.id_for_label }}" data-browse="Hledat">Vyber obrázek...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>
        </div>



        <div class="modal-footer">
          <button type="button" class="button button--secondary" data-dismiss="modal">Zavřít</button>
          <button type="submit" class="button button--primary">Začít</button>

        </div>
      </form>
    </div>
  </div>
</div>
