{% extends "calculaber_app/base.html" %}
{% block body_block %}

<div class="jumbotron">
  <h2>{{ object_info.name }}</h2>
  <h4>Celková cena {{ total_price }} CZK</h4>
  <a href="{% url 'project_detail' pk=object_info.project_id %}" class="btn btn-info" role="button">Zpět na projekt</a>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UpdateObject">
    Upravit
  </button>
  <a href="{% url 'object_delete' pk=object_info.id %}" class="btn btn-danger" role="button">Smazat</a>
</div>
<table class="table" id="object_detail_tbl">
  <thead>
    <tr>
      <th scope="col">Díl</th>
      <th scope="col">Množství</th>
      <th scope="col">Materiál</th>
      <th scope="col">Cena materiálu</th>
      <th scope="col">Margin</th>
      <th scope="col">Finální cena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for material in material_object %}
    <tr id={{material.pk}} class="{% if material.customized == True %}customized{% endif %}">
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <td class="name">{{material.name}}</td>
        <td class="amount">{{material.amount}} {% if material.material.get_units_display == 'm2' %}m<sup>2</sup>{% else %}{{material.material.get_units_display}}{% endif %}</td>
        <td>{{material.material.name}}</td>
        {% if material.customized == True %}
          <td class="price">{{material.price}} CZK</td>
          <td class="margin">{{material.margin}} %</td>
        {% else %}
          <td class="price">{{material.material.price}} CZK</td>
          <td class="margin">{{material.material.margin}} %</td>
        {% endif %}
        <td class="total"></td><!--{% widthratio material.amount 1 material.material.price %}-->
        <td>
          <button id="edit_item-{{material.pk}}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#UpdateMaterialObject">
            Upravit
          </button>
          <form method="POST" action="{% url 'material_object_delete' pk=material.pk %}">
             {% csrf_token %}<input class="btn btn-danger" id="delete_item-{{material.pk}}" type="submit" onclick="return confirm('Jste si jistí, že chcete materiál odebrat?')" value="Smazat">
          </form>
        </td>

      </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button title="dil" type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewMaterialObject">
  Nový díl
</button>
{% include "calculaber_app/new_material_object_modal.html" %}
{% include "calculaber_app/update_object_modal.html" %}
{% include "calculaber_app/update_material_object_modal.html" %}

{% endblock %}
{% block jquery %}
{% load static %}
<script type="text/javascript" src="{% static 'js/update_materialobject.js' %}" charset="utf-8"></script>
{% endblock %}
