<div class="modal fade" id="UpdateObject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upravit objekt</h5>

      </div>
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <p>Název <input class="form-control form-control-sm" name='object_name' type="text" value="{{ object_info.name }}"></p>
            <input type="hidden" name="object_id" value="{{ object_info.id }}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
          <input type="submit" id="update" name="update_object_sub" class="btn btn-primary" value="Uložit">

        </div>
      </form>
    </div>
  </div>
</div>
