<div class="modal fade" id="UpdateObject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upravit objekt</h5>

      </div>
      <form class="update_object" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label" for="{{ update_object_form.name.id_for_label }}">Název</label>
            {{ update_object_form.name }}
          </div>
          <div class="form-group">
            <label class="form-label" for="{{ tag_form.tag.id_for_label }}">Tag</label>
            {{ tag_form.tag }}
          </div>
          <div class="tag__popup">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="button button--secondary" data-dismiss="modal">Zavřít</button>
          <button type="submit" id="update" name="update_object_sub" class="button button--primary">Uložit</button>

        </div>

      </form>
    </div>
  </div>
</div>
