<div class="modal fade" id="UpdateMaterialObject" tabindex="-1" role="dialog" aria-labelledby="Upravit díl" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upravit díl</h5>

      </div>
      <form class ="update_material_object" method="post" enctype="multipart/form-data">
        <div class="modal-body">
            <input class="form-control" id="materialobject_id" name='id' type="text" value="" style="display: none;">

            <div class="form-group"> <!-- mb-3 -->
              <label class="form-label" for="id_name_update">Název</label>
              {{ update_form.name }}
            </div>

            <label for="id_amount_update" class="form-label">Množství</label>
            <div class="form-group input-group">
              {{ update_form.amount }}
              <div class="input-group-append">
                <span class="input-group-text" id="amount_units">m<sup>2</sup></span>
              </div>
            </div>

            <div class="form-group form-check">
              {{ update_form.customized }}
              <label class="form-check-label" for="id_customized_update">Customize price</label>
            </div>

            <div class="check_box_true"> <!-- hidden -->
              <div class="form-group">
                <label class="form-label" for="id_price_update">Cena</label>
                <div class="form-group input-group">
                  {{ update_form.price }}
                  <div class="input-group-append">
                    <span class="input-group-text" id="price_format">CZK</span>
                  </div>
                </div>
              </div>

              <label for="id_margin_update" class="form-label">Margin</label>
              <div class="form-group input-group">
                {{ update_form.margin }}
                <div class="input-group-append">
                  <span class="input-group-text" id="margin_format">%</span>
                </div>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="button button--secondary" data-dismiss="modal">Zavřít</button>
          <button type="submit" name="update_material_object_sub" class="button button--primary">Uložit</button>

        </div>
      </form>
    </div>
  </div>
</div>
